@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .about-header, .why-village{
        flex-direction: column;
    }
    .Rates, .TextHolder, .CombinedImages, .WhyUs{
        max-width: 100%;
        width: 100%;
    }
    .mixedimages{
        display: none;
    }
    .CombinedImages{
        height: fit-content;
        margin-bottom: 100px;
    }

    .First-main-image{
        min-height: 500px;
    }
    .First-top-left-image {
        top: 30%;
      }
      .First-middle-right-image {
        top: 55%;
      }
      .First-bottom-left-image {
        bottom: -9%;
        left: -5%;
      }
}

@media only screen and (max-width: 768px) {
    .about-header, .why-village{
        flex-direction: column;
    }
    .Rates, .TextHolder, .CombinedImages, .WhyUs{
        max-width: 100%;
        width: 100%;
    }
    .mixedimages{
        display: none;
    }
    .First-bottom-left-image {
        bottom: 1%;
        left: -5%;
      }
    
}