.trips-catalog {
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, #ffffff, #f4f4f4, #f7f6f5);
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-open {
  margin-left: 300px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  padding-top: 80px; /* Add top padding to account for the fixed search bar */
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  transition: margin-left 0.3s ease-in-out;
}

.search-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.section-title {
  font-size: 2rem;
  color: #06141b;
  margin-top: 5%;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 20px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Updated styles for card layout */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 20px; /* Adds space between cards */
  padding: 20px;
  width: 100%;
}

/* Responsive design for cards */
@media (max-width: 1200px) {
  .card-container {
    justify-content: center;
  }
}
