.footer {
    color: #282828;
   background-color: rgb(229, 228, 228);
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
   text-align: center;  
   min-height: 20%;
  }
  footer{
    min-height: 20%;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1 1 150px;
    padding: 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 12px;
  }
  
  .footer-section p {
    font-size: 15px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 10px;
    font-size: 10px;
  }
  
  .footer-section a {
    color: #313131;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    size: 40px;
    font-size: 20px;
    position: relative;
    margin-top:15px;
}



  .text{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 9px;
    font-size: 14px;
  }
  
  .footer-bottom a {
    color: #666666;
  }
  @media (max-width: 768px){
    .footer-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        font-size:12px;
    }
    .text{
        font-size: 10px;
    }
  }